@charset "UTF-8";
@font-face {
  font-family: CircularSpotifyTxTBook;
  font-weight: 700;
  src: url(./asset/font/CircularSpotifyTxT-Book.woff2) format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: CircularSpotifyTxTBold;
  font-weight: 700;
  src: url(./asset/font/CircularSpotifyTxT-Bold.woff2) format("truetype");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: PlastoTrial_ExtraBold;
  font-weight: 700;
  src: url(./asset/font/PlastoTrial-ExtraBold.otf) format("truetype");
  text-rendering: optimizeLegibility;
}
* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  transition: 1s;
}

.logo {
  position: fixed;
  font-family: PlastoTrial_ExtraBold;
  font-size: 50px;
  margin: 1% 2%;
  color: #ffd700;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.75rem;
  box-sizing: border-box;
}
.wrapper .controls-btn {
  display: flex;
  flex-direction: column-reverse;
}
.wrapper .controls-btn svg {
  margin: 40% 0;
  cursor: pointer;
}
.wrapper .controls-btn .last-wrapper svg {
  fill: rgba(255, 255, 255, 0.6);
}

.card-slide {
  width: calc(20rem + 30vmin);
  height: calc(20rem + 30vmin);
  right: 10%;
  transform: translateX(-10%);
}
.card-slide .card-stack-wrapper {
  width: calc(20rem + 30vmin);
  height: calc(20rem + 30vmin);
  position: absolute;
  left: 0;
  top: 0;
  cursor: grab;
  transform-origin: center center;
  background-color: aqua;
  background-size: cover;
  background-repeat: no-repeat; /* 不平铺图像 */
}
.card-slide .card-stack-wrapper:last-child {
  transform: rotateX(0) rotateY(0) rotateZ(0) scale(1) !important;
}
.card-slide .card-stack-wrapper .card-stack-inner {
  width: 100%;
  height: 100%;
}
.card-slide .card-stack-wrapper .card-stack-inner img {
  width: 100%;
  height: 100%;
}
.card-slide .card-stack-wrapper:last-child {
  background-color: #000;
  transform: rotateX(0) rotateY(0) rotateZ(0) scale(1);
}
.card-slide .card-stack-wrapper:last-child .card-stack-inner {
  box-shadow: rgba(0, 0, 0, 0) 2px 5px 27px;
}

.describe {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
}
.describe .tips {
  font-size: 1rem;
  margin-bottom: 10px;
}
.describe .contnet-text {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.describe .contnet-text:hover {
  text-decoration: underline;
}

.card-stack-wrapper-animating-DMD {
  animation: dragMouseDown 0.2s ease-in-out forwards;
}

@keyframes dragMouseDown {
  0% {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.card-stack-wrapper-animating-DMU {
  animation: dragMouseUp 0.2s ease-in-out forwards;
}

@keyframes dragMouseUp {
  0% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
.describe-disappear-animation {
  animation: opacityDisappear 0.5s ease-in-out forwards;
}

@keyframes opacityDisappear {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.describe-appear-animation {
  animation: opacityAppear 0.5s ease-in-out forwards;
}

@keyframes opacityAppear {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper .controls-btn {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .wrapper .card-slide {
    width: calc(20rem + 10vw);
    height: calc(20rem + 10vw);
    transform: translateX(0%);
  }
  .wrapper .card-slide .card-stack-wrapper {
    width: calc(20rem + 10vw);
    height: calc(20rem + 10vw);
  }
  .wrapper .describe {
    margin-bottom: 10%;
  }
  .wrapper .describe .contnet-text {
    font-size: 2rem;
  }
}

.iconfont {
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}

.music-player-wrapper {
  position: relative;
  transform: translate(-40%, -5%);
}
.music-player-wrapper .music-player {
  width: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
}
.music-player-wrapper .music-player {
  display: flex;
}

.music-player-wrapper .music-player .playback-setting {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.music-player-wrapper .music-player .playback-setting .icon-bofang, 
.music-player-wrapper .music-player .playback-setting .icon-zanting1 {
  font-size: 55px !important;
}
.music-player-wrapper .music-player .playback-setting .icon-zanting1 {
  display: none;
}
